<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/css/main.css" type="text/css"/>
    <title>Login</title>
</head>
<body>
    <header class="header">
        <h1 class="logo_text">finansicli</h1>
        <nav class="nav_panel">
            <form class="form_nav" th:action="@{registration}" method="get">
                <input class="input_nav" type="submit" value="Регистрация"/>
            </form>
        </nav>
    </header>
    <section class="section_form">
<form class="form" name="f" method="post" action="/process_login">
    <h2>Войти:</h2>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input class="input_form" type="text" placeholder="Введите имя пользователя:" name="username" id="username"/>
    <input class="input_form" placeholder="Введите пароль:" type="password" name="password" id="password"/>
    <br>
    <input class="input_form_button" type="submit" value="Войти"/>

    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
</form>
</section>
<footer class="footer">
    <a class="email_weblink" href="mailto:ekip-s@yandex.ru?subject=Вопросы с сайта">Если есть вопросы, напишите на e-mail</a>
</footer>

</body>
</html>